@using System.Web.UI.WebControls;
@using PagedList.Mvc;
@model PagedList.IPagedList<CRM.Repository.Order>
@{
    ViewBag.Title = "订单查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-2.0.2.min.js"></script>
<script type="text/javascript" language="JavaScript">
$(function () {
    $("#DepartmentId").change(function () {
        if ('@ViewBag.IsRole' =='True')
        {
            var url = "/Customer/GetEmployees?DepartmentId=" + $("#DepartmentId").val(); //规则是控制器/方法/参数
            $.getJSON(url, function (data) {
                $('#Owner').html('');
                $('#Owner').append($("<option></option>").val('0').html('全部'));
                $.each(data, function (i, item) {
                    $('#Owner').append($("<option></option>").val(item.UserId).html(item.UserName));
                });
            });
        }
    });
});
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        订单查询 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <a id="linkSH" href="javascript:;" onclick="slideToggle()" style=" float:right; color:green"><strong>折叠起来</strong></a>
    </div>

    <div id="divObj" class="panel-body">
        @using (Html.BeginForm("Index", "Order", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="dataTables_filter">
                <div class="form-group">

                    <label>
                        公司名称: @Html.TextBox("CorporationName", ViewBag.CorporationNameParams as string, new { @class = "form-control" })
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        部门: @Html.DropDownList("DepartmentId", ViewBag.Department as List<SelectListItem>, new { @class = "form-control" })
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        所有者: @Html.DropDownList("Owner", ViewBag.Owner as List<SelectListItem>, new { @class = "form-control" })
                    </label>
                </div>
                <br />
                <div class="form-group">
                    <label>
                        电话: @Html.TextBox("TelePhone", ViewBag.TelePhoneParams as string, new { @class = "form-control" })
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        手机号: @Html.TextBox("MobilePhone", ViewBag.MobilePhoneParams as string, new { @class = "form-control" })
                    </label>
                </div>
                <br />
                <div class="form-group">
                    <label>
                        订单创建开始时间: @Html.TextBox("StartTime", ViewBag.StartTimeParams as string, new { onfocus = "date()", @class = "form-control" })
                    </label>
                </div>
                <div class="form-group">
                    <label>- </label>
                </div>
                <div class="form-group">
                    <label>
                        订单创建结束时间: @Html.TextBox("EndTime", ViewBag.EndTimeParams as string, new { onfocus = "date()", @class = "form-control" })
                    </label>
                    <button type="submit" class="btn btn-success">查询</button>
                </div>

            </div>

        }
    </div>
</div>
<div class="table-responsive" style="width:1170px; overflow:scroll;">
    <table class="table table-striped table-bordered table-hover" style="width:1800px;overflow:scroll;">
        <tr>
            <th>
                公司名称
            </th>
            <th>
                客户联系人
            </th>
            <th>
                电话/手机
            </th>
            <th>
                产品属性
            </th>
            <th>
                合同编号
            </th>
            <th>
                推广关键词
            </th>
            <th>
                赠送词
            </th>
            @*<th>
                客服审核
            </th>*@
            <th>
                商铺状态
            </th>
            <th>
                运营状态
            </th>
            <th>
                提单人员
            </th>
            <th>
                创建时间
            </th>
            <th>操作</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="word-wrap:break-word;word-break:break-all;">
                    @Html.DisplayFor(modelItem => item.Customer.CorporationName)
                </td>
                <td style="word-wrap:break-word;word-break:break-all;" >
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td style="word-wrap:break-word;word-break:break-all;">
                   @Html.DisplayFor(modelItem => item.Customer.Tel) | @Html.DisplayFor(modelItem => item.Customer.MobileTel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeywordAttach)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CheckStatus)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ShopStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { @class = "btn btn-success", target = "_blank" })
                    @Html.ActionLink("查看", "Details", new { id = item.Id }, new { @class = "btn btn-info", target = "_blank" })
                    @*<a href="javascript:;" onclick="Delete('@item.Id');" class="btn btn-danger">删除</a>*@
                </td>
            </tr>
        }
    </table>
    <strong style="color:red;font-size:16px;">订单总数：@Model.TotalItemCount</strong>，每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, CorporationName = ViewBag.CorporationNameParams, DepartmentId = ViewBag.DepartmentIdParams, Owner = ViewBag.UserIdParams, MobilePhone = ViewBag.MobilePhoneParams, TelePhone = ViewBag.TelePhoneParams, StartTime = ViewBag.StartTimeParams, EndTime = ViewBag.EndTimeParams }))
</div>
<script type="text/javascript">
    function slideToggle() {
        $("#divObj").slideToggle(500);//窗帘效果的切换,点一下收,点一下开,参数可以无,参数说明同上
    }
</script>
                    