@model PagedList.IPagedList<CRM.Repository.Customer>
@using PagedList.Mvc;
@{
    ViewBag.Title = "我的客户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-2.0.2.min.js"></script>
<script type="text/javascript" language="JavaScript">

function GetCustomerIds() {
    var name = 'CustomerID';
    var ids = '';
    var el = document.getElementsByTagName('input');
    var len = el.length;
    for (var i = 0; i < len; i++) {
        if ((el[i].type == "checkbox") && (el[i].name == name) && el[i].checked) {
            if (ids == '')
            {
                ids = el[i].value;
            }
            else
            {
                ids = ids + ',' + el[i].value;
            }
        }
    }
    return ids;
}

function ShowDiag() {
    //art.dialog('大家好,网址http://www.okbase.net');
    var ids = GetCustomerIds();
    if (ids == undefined || ids.length==0)
    {
        art.dialog('信息提示：没有选择任何要更新的客户，请选择！');
        return;
    }
    art.dialog.open("/Customer/BatchOperation?CustomerIds=" + ids, { title: '批量更新', width: 320, height: 300 });
}

function BatchMove(PoolStatus, OperationTitle)
{
    var ids = GetCustomerIds();
    if (ids == undefined || ids.length == 0) {
        art.dialog('信息提示：没有选择任何要更新的客户，请选择！');
        return;
    }
    art.dialog.confirm('你确定要将所选客户' + OperationTitle + '吗？', function () {
        $.post('/Customer/Move', { Ids: ids, PoolStatus: PoolStatus }, function (result) {
            if (result.success) {
                art.dialog({
                    icon: 'succeed',
                    content: '批量操作成功！',
                    ok: function () {
                        //刷新页面
                        window.location.reload();
                        //关闭窗口
                        art.dialog.close();
                    }
                });

            } else {
                art.dialog.alert(result.message)
                art.dialog.close();
            }
        });
    },function () {
        return;
    });


}
function SingleMove(id,PoolStatus, OperationTitle)
{
    if (id == undefined || id.length == 0) {
        art.dialog('信息提示：没有选择任何要更新的客户，请选择！');
        return;
    }
    art.dialog.confirm('你确定要将该客户' + OperationTitle + '吗？', function () {
        $.post('/Customer/Move', { Ids: id, PoolStatus: PoolStatus }, function (result) {
            if (result.success) {
                art.dialog({
                    icon: 'succeed',
                    content: '操作成功！',
                    ok: function () {
                        //刷新页面
                        window.location.reload();
                        //关闭窗口
                        art.dialog.close();
                    }
                });

            } else {
                art.dialog.alert(result.message)
                art.dialog.close();
            }
        });
    },function () {
        return;
    });


}
$(function () {
    $("#checkall").click(function () {
        var name = 'CustomerID';
        if (this.checked) {
            checkAll(name);
        }
        else {
            clearAll(name);
        }
    });

    function checkAll(name) {
        var el = document.getElementsByTagName('input');
        var len = el.length;
        for (var i = 0; i < len; i++) {
            if ((el[i].type == "checkbox") && (el[i].name == name)) {
                el[i].checked = true;
                //alert(el[i].value);
            }
        }
    }
    function clearAll(name) {
        var el = document.getElementsByTagName('input');
        var len = el.length;
        for (var i = 0; i < len; i++) {
            if ((el[i].type == "checkbox") && (el[i].name == name)) {
                el[i].checked = false;
            }
        }
    }

    $("#DepartmentId").change(function () {
        if ('@ViewBag.IsRole' =='True')
        {
            var url = "/Customer/GetEmployees?DepartmentId=" + $("#DepartmentId").val(); //规则是控制器/方法/参数
            $.getJSON(url, function (data) {
                $('#Owner').html('');
                $('#Owner').append($("<option></option>").val('0').html('全部'));
                $.each(data, function (i, item) {
                    $('#Owner').append($("<option></option>").val(item.UserId).html(item.UserName));
                });
            });
        }
    });
});

function Edit(id)
{
    if (id == undefined || id.length == 0) {
        art.dialog('信息提示：没有选择任何要更新的客户，请选择！');
        return;
    }
    art.dialog.open("/Customer/Edit?id=" + id, { title: '客户编辑', width: 960, height: 600 });
}

function ClearDiag() {
    var ids = GetCustomerIds();
    if (ids == undefined || ids.length == 0) {
        art.dialog('信息提示：没有选择任何要清除小计的客户，请选择！');
        return;
    }
    art.dialog.confirm('你确定要将所选客户清除小计吗？', function () {
        $.post('/Customer/ClearInfo', { Ids: ids }, function (result) {
            if (result.success) {
                art.dialog({
                    icon: 'succeed',
                    content: '批量操作成功！',
                    ok: function () {
                    }
                });

            } else {
                art.dialog.alert(result.message)
                art.dialog.close();
            }
        });
    }, function () {
        return;
    });
}
</script>

<div class="panel panel-default">
    <div class="panel-heading">客户查询 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
     <a id="linkSH" href="javascript:;" onclick="slideToggle()" style=" float:right; color:green"><strong >折叠起来</strong></a>
    </div>

    <div id="divObj"  class="panel-body">
        @using (Html.BeginForm("Index", "Customer", FormMethod.Get, new { @class = "form-inline" }))
                                    {
                                <div class="dataTables_filter">
                                    <div class="form-group">

                                        <label>
                                            公司名称: @Html.TextBox("CorporationName", ViewBag.CorporationNameParams as string, new { @class = "form-control" })
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            来源类型: @Html.DropDownList("fromType", ViewBag.SourceFrom as List<SelectListItem>, new { @class = "form-control" })
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            部门: @Html.DropDownList("DepartmentId", ViewBag.Department as List<SelectListItem>, new { @class = "form-control" })
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            所有者: @Html.DropDownList("Owner", ViewBag.Owner as List<SelectListItem>, new { @class = "form-control" })
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            状态: @Html.DropDownList("Status", ViewBag.Status as List<SelectListItem>, new { @class = "form-control" })
                                        </label>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label>
                                            电话: @Html.TextBox("TelePhone", ViewBag.TelePhoneParams as string, new { @class = "form-control" })
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            手机号: @Html.TextBox("MobilePhone", ViewBag.MobilePhoneParams as string, new { @class = "form-control" })
                                        </label>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label>
                                            下次联系开始时间: @Html.TextBox("NextContractStartTime", ViewBag.NextContractStartTimeParams as string, new { onfocus = "date()", @class = "form-control" })
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>- </label>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            下次联系结束时间: @Html.TextBox("NextContractEndTime", ViewBag.NextContractEndTimeParams as string, new { onfocus = "date()", @class = "form-control" })
                                        </label>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label>
                                            最新修改开始时间: @Html.TextBox("UpdateStartTime", ViewBag.UpdateStartTimeParams as string, new { onfocus = "date()", @class = "form-control" })
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>- </label>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            最新修改结束时间: @Html.TextBox("UpdateEndTime", ViewBag.UpdateEndTimeParams as string, new { onfocus = "date()", @class = "form-control" })
                                        </label>
                                        <button type="submit" class="btn btn-success">查询</button>
                                    </div>

                                </div>

                                    }
    </div>
</div>
<div class="table-responsive">
    @if (ViewBag.IsRole)
        {
        <strong style="font-size:16px;color:red;">全选:</strong><input type="checkbox" id="checkall" name="checkall" />
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                批量操作 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li><a href="javascript:;" onclick="BatchMove(2, '移入公共池');">移入公共池</a></li>
                <li><a href="javascript:;" onclick="BatchMove(3,'移入废弃池');">移入废弃池</a></li>
                <li><a href="javascript:;" onclick="ShowDiag();">批量更新</a></li>
                @if (ViewBag.IsDirectorRole)
                {
                    <li><a href="javascript:;" onclick="ClearDiag();">批量清除小计</a></li>
                }
            </ul>
        </div>
    }
    


    <table class="table table-striped table-bordered table-hover">
        <tr>
            @if (ViewBag.IsRole)
        {
                <th>选择</th>
            }
            <th>
                公司名称
            </th>
            <th>
                状态
            </th>
            <th>
                联系人
            </th>
            <th>
                手机
            </th>
            <th>
                客户来源
            </th>
            <th>
                下次联系时间
            </th>
            <th>
                所有者
            </th>
            <th>操作</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @if (ViewBag.IsRole)
                {
                    <td>
                        @Html.CheckBox("CustomerID", new { value = item.CustomerID })
                    </td>
                }
                <td style="word-wrap:break-word;word-break:break-all;" width="230">
                    @Html.DisplayFor(modelItem => item.CorporationName)
                </td>
                <td style="word-wrap:break-word;word-break:break-all;" width="60">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td style="word-wrap:break-word;word-break:break-all;" width="60">
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td style="word-wrap:break-word;word-break:break-all;" width="110">
                    @Html.DisplayFor(modelItem => item.MobileTel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourseFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextContactTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.USERNAME)
                </td>
                <td>
                    @*<a href="javascript:;" onclick="Edit(@item.CustomerID);" class="btn btn-success">编辑</a>*@
                    @Html.ActionLink("编辑", "Edit", new { id = item.CustomerID }, new { @class = "btn btn-success", target = "_blank" })
                    @Html.ActionLink("查看", "Details", new { id = item.CustomerID }, new { @class = "btn btn-info", target = "_blank" })
                    <a href="javascript:;" onclick="SingleMove('@item.CustomerID',2, '移入公共池');" class="btn btn-danger">移入公共池</a>
                    <a href="javascript:;" onclick="SingleMove('@item.CustomerID',3,'移入废弃池');" class="btn btn-danger">移入废弃池</a>
                </td>
            </tr>
        }
    </table>
    <strong style="color:red;font-size:16px;">客户总数：@Model.TotalItemCount</strong>，每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, CorporationName = ViewBag.CorporationNameParams, fromType = ViewBag.fromTypeParams, DepartmentId= ViewBag.DepartmentIdParams, Owner = ViewBag.UserIdParams, Status = ViewBag.StatusParams, NextContractStartTime = ViewBag.NextContractStartTimeParams, NextContractEndTime = ViewBag.NextContractEndTimeParams, MobilePhone = ViewBag.MobilePhoneParams, TelePhone = ViewBag.TelePhoneParams, UpdateStartTime = ViewBag.UpdateStartTimeParams, UpdateEndTime = ViewBag.UpdateEndTimeParams }))
</div>
<script type="text/javascript">
    function slideToggle() {
        $("#divObj").slideToggle(500);//窗帘效果的切换,点一下收,点一下开,参数可以无,参数说明同上
    }
</script>